@font-face {
  font-family: "HoneyLemone";
  src: url("./fontes/HoneyLemone.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LEMONMILK";
  src: url("./fontes/lemon_milk/LEMONMILK-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LEMONMILK_BOLD";
  src: url("./fontes/lemon_milk/LEMONMILK-Bold.otf") format("otf");
  font-weight: bold;
}

@font-face {
  font-family: "LEMONMILK_BOLD";
  src: url("./fontes/lemon_milk/LEMONMILK-Medium.otf") format("otf");
  font-weight: 400;
}

.header {
  /* background-color: brown; */
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.header_menu {
  color: #c04e1a;
}

.headerLogo {
  width: 20%;
}

.header_nav_links {
  width: 18%;
  display: flex;
  justify-content: space-around;

  a {
    color: #2d4626;
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
  }

  a:hover {
    color: #fa5207;
  }
}

.header_btn {
  background-color: #c04e1a;
  /* Cor de fundo */
  border: none;
  /* Remover bordas */
  color: white;
  /* Cor do texto */
  padding: 7px 40px;
  /* Espaçamento interno */
  text-align: center;
  /* Alinhamento do texto */
  text-decoration: none;
  /* Remover sublinhado do texto */
  display: inline-block;
  /* Para permitir margens e preenchimento */
  font-size: 16px;
  /* Tamanho da fonte */
  margin: 4px 2px;
  /* Margem */
  cursor: pointer;
  /* Cursor de mão ao passar por cima */
  border-radius: 12px;
  /* Bordas arredondadas */
}

.header_btn:hover {
  background-color: #c44e1a;
  /* Cor de fundo ao passar o mouse */
}

.lista_btn {
  background-color: #58fa0f;
  border: none;
  color: white;
  padding: 7px 15px;
  width: 10%;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  color: #fa5207;
}

.main_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 0% 20%;
  background-image: url("./assets/bg_caridade.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "LEMONMILK", sans-serif;
}

.main_page_title {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

.main_page_items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main_page_box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  min-height: 200px;
  background-color: #c04e1a;
  color: white;
  border-radius: 20px;
  padding: 15px 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.main_page_box_title {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.main_page_box_description {
  font-size: 18px;
  color: #e6e6e6;
}

.main_page_box:hover {
  transform: scale(1.2);
}

.tela {
  padding: 20px 90px;
  font-family: "LEMONMILK", sans-serif;
}

.tela-doacao {
  padding: 20px 90px;
  height: 1000px;
  font-family: "LEMONMILK", sans-serif;
}

.laranja {
  background-color: #c04e1a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 60px;

  h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.laranja-doacao {
  background-color: #c04e1a;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 80px;
  height: 1650px;

  /*altura da div*/
  h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.ulario {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  border-radius: 20px;

  h3 {
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    margin-right: 5px;
  }
}

.ulTit {
  display: flex;
  flex-direction: row;
  justify-content: center;

  i {
    color: #fa5207;
  }
}
.ulario-cadastro {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  border-radius: 20px;
}
.ulTit-cadastro {
  display: flex;
  flex-direction: row;
  justify-content: center;

  i {
    color: #fa5207;
  }
}
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.toggle-value-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.toggle-container {
  display: flex;
  align-items: center;
  background-color: #b5c3a8;
  border-radius: 100px;
  padding: 5px;
  position: relative;
  width: 600px;
  height: 100px;
  /* Ajuste conforme necessário */
}

.toggle-container input[type="radio"] {
  display: none;
}

.toggle-label {
  flex: 1;
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 30px;
  color: #ddd;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  z-index: 1;
}

.toggle-slider {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  width: 300px;
  /* Ajuste conforme necessário */
  background-color: #f4511e;
  border-radius: 100px;
  transition: transform 0.3s;
}

#mensal:checked~.toggle-slider {
  transform: translateX(0);
  background-color: #f4511e;
}

#unica:checked~.toggle-slider {
  transform: translateX(300px);
  /* Ajuste conforme necessário */
  background-color: #00e676;
}

.toggle-container input[type="radio"]:checked+.toggle-label {
  color: white;
}

.toggle-label-value {
  display: flex;
  align-items: center;
  background-color: #67905595;
  border-radius: 100px;
  padding: 15px 30px;
  color: white;
  position: relative;
  margin: 0px 5px;
  font-weight: bold;
}

.toggle-value-btn input[type="radio"] {
  display: none;
}

.toggle-value-btn input[type="radio"]:checked+.toggle-label-value {
  background: #2d4626;
  color: white;
}

.ulario-info-user {
  display: flex;
  flex-direction: column;
  margin-left: 25px;

  h3 {
    text-align: start;
    margin-bottom: 20px;
    font-weight: 900;
    color: #2d4626;
  }

  label {
    font-weight: 900;
    color: #2d4626;
  }
}

.user-input {
  display: flex;
  flex-direction: auto;
  align-items: center;
  margin-bottom: 20px;

  label {
    margin-right: 20px;
  }

  input {
    border: 1px solid #2d4626;
    border-radius: 15px;
    padding: 10px 15px;
  }
}

#name {
  width: 250px;
}

#sexo {
  border: 1px solid #2d4626;
  border-radius: 15px;
  padding: 10px 15px;
}

#tiposDeDoacao {
  border: 1px solid #2d4626;
  border-radius: 15px;
  padding: 10px 15px;

}

#border {
  border: 1px solid #2d4626;
  border-radius: 15px;
  padding: 10px 15px;
}

.check-permission {
  margin-bottom: 60px;
}



.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.finish-btn {
  display: flex;
  align-items: center;
  background-color: #58fa0f;
  padding: 20px 35px;
  border-radius: 30px;
  font-weight: bold;
  left: 100px;
  right: auto;

  height: auto;
  top: 550px;
  position: absolute;

}

.termos {
  p {
    text-align: center;
    position: absolute;
    width: 600px;
    height: 600px;
    left: calc(50% - 90px/2 + 0.5px);
    top: 500px;
  }
}

/* MÉTODOS DE DOAÇÃO */

.metodosdedoacao {
  position: absolute;
  width: 300px;
  height: 60px;
  left: calc(50% - 300px/2 + 0.5px);
  top: 650px;

  font-family: 'LEMONMILK", sans-serif';

  font-style: normal;
  font-weight: 00;
  font-size: 20px;
  line-height: 75%;
  /* or 75px */
  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

.espaco-grande {
  height: 400px;
  /* Altura do espaço */
}

.espaco-pequeno {
  height: 100px;
}


h2 {
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  letter-spacing: -0.011em;
  font-family: 'LEMONMILK", sans-serif';
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 80%;
  /* or 75px */
  text-align: center;
  letter-spacing: -0.011em;
}

.img-container {

  display: block;
  font-family: 'LEMONMILK", sans-serif';
  position: absolute;
  width: 670px;
  height: 685px;
  left: 650px;
  top: 165px;
}

.centralizado {
  display: flex;
  align-items: center;
}

.img-fundo {
  background-image: url(/imagen/bg_caridade.png);
  /* Substitua pelo caminho da imagem */
  background-size: cover;
  /* Faz com que a imagem cubra toda a área */
  background-position: center 85px;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Evita que a imagem se repita */
}

.fundo-login {

  box-sizing: border-box;

  position: absolute;
  width: 680px;
  height: 657px;
  left: 650px;
  top: 165px;

  background: #000000;
  opacity: 0.5;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}

.Login-1 {
  position: absolute;
  width: 100px;
  height: 60px;
  left: calc(50% - 300px/2 + 0.5px);
  top: 400px;
  /* altura*/

  font-family: 'LEMONMILK", sans-serif';

  color: #000000;
}

.senha {
  position: absolute;
  width: 9px;
  height: 200px;
  left: calc(50% - 280px/2 + 0.5px);
  top: 400px;
  /* altura*/

  font-family: 'LEMONMILK", sans-serif';

  color: #000000
}



.pagamentopix {

  position: absolute;
  width: 300px;
  height: 50px;
  left: calc(50% - 300px/2 + 0.5px);
  top: 750px;

  font-family: 'LEMONMILK", sans-serif';

  font-style: normal;
  font-weight: 00;
  font-size: 20px;
  line-height: 75%;
  /* or 75px */
  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

.pagamentocartao {
  position: absolute;
  width: 600px;
  height: 100px;
  left: calc(40% - 100px + 0.5px);
  top: 1150px;

  font-family: 'LEMONMILK", sans-serif';

  font-style: normal;
  font-weight: 00;
  font-size: 20px;
  line-height: 75%;
  /* or 75px */
  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

.img-pix {
  background-image: url(imagen/QR-code.png);
  /* Substitua pelo caminho da imagem */
  background-size: cover;
  /* Faz com que a imagem cubra toda a área */
  background-position: center 85px;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Evita que a imagem se repita */
}

.fonte {
  font-family: 'LEMONMILK", sans-serif';
  font-weight: 70;
  font-size: 25px;
  line-height: 150%;
  /* identical to box height, or 45px */
  text-align: center;
  letter-spacing: -0.011em;
  color: #000000;

}

.privacidade {
  position: absolute;
  width: 500px;
  height: 20px;
  /*left: ;*/
  top: 430px;
}

.dadoscartao {
  position: absolute;
  width: 900px;
  height: 20px;
  left: calc(50% - 200px + 0.5px);
  top: 1550px;

  .dadosbaixo {
    position: absolute;
    width: 900px;
    height: 20px;
    left: calc(40% - 200px + 0.5px);
    top: 1550px;
  }
}

.main_page_Login {
  /* LOGIN */
  position: absolute;
  width: 154px;
  height: 35px;
  left: calc(50% - 154px/2 + 14px);
  top: 236px;

  font-family: 'LEMONMILK", sans-serif';
  font-style: 'LEMONMILK", sans-serif';
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;

  color: #FA5207;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

.Group-login {
  position: absolute;
  width: 364px;
  height: 52px;
  left: 900px;
  top: 315px;
  color: #f3f0ee
}

.Group-login1 {
  position: absolute;
  width: 364px;
  height: 10px;
  left: 920px;
  top: 400px;
  color: #f3f0ee
}

.entrar {
  /* Group 3 */

  position: absolute;
  width: 364px;
  height: 52px;
  left: 900px;
  top: 476px;
  background-color: #9181F4;
  /* Cor de fundo */
  border: none;
  /* Remover bordas */
  color: white;
  /* Cor do texto */
  padding: 1px 1px;
  /* Espaçamento interno */
  text-align: center;
  /* Alinhamento do texto */
  text-decoration: none;
  /* Remover sublinhado do texto */
  display: inline-block;
  /* Para permitir margens e preenchimento */
  font-size: 40px;
  /* Tamanho da fonte */
  margin: 4px 2px;
  /* Margem */
  cursor: pointer;
  /* Cursor de mão ao passar por cima */
  border-radius: 12px;
  /* Bordas arredondadas */
  font-family: 'LEMONMILK", sans-serif';
  font-style: 'LEMONMILK", sans-serif';
}

.google {
  position: absolute;
  width: 264px;
  height: 52px;
  left: 800px;
  top: 676px;
  background-color: #ebe9f100;
  /* Cor de fundo */
  border: none;
  /* Remover bordas */
  color: white;
  /* Cor do texto */
  padding: 1px 1px;
  /* Espaçamento interno */
  text-align: center;
  /* Alinhamento do texto */
  text-decoration: none;
  /* Remover sublinhado do texto */
  display: inline-block;
  /* Para permitir margens e preenchimento */
  font-size: 40px;
  /* Tamanho da fonte */
  margin: 4px 2px;
  /* Margem */
  cursor: pointer;
  /* Cursor de mão ao passar por cima */
  border-radius: 12px;
  /* Bordas arredondadas */
  border-color: #ffffff;
  border: 1px solid #ccc;
  font-family: 'LEMONMILK", sans-serif';
  font-style: 'LEMONMILK", sans-serif';

}

.facebook {
  position: absolute;
  width: 264px;
  height: 52px;
  left: 1103px;
  top: 676px;
  background-color: #ebe9f100;
  /* Cor de fundo */
  border: none;
  /* Remover bordas */
  color: white;
  /* Cor do texto */
  padding: 1px 1px;
  /* Espaçamento interno */
  text-align: center;
  /* Alinhamento do texto */
  text-decoration: none;
  /* Remover sublinhado do texto */
  display: inline-block;
  /* Para permitir margens e preenchimento */
  font-size: 40px;
  /* Tamanho da fonte */
  margin: 4px 2px;
  /* Margem */
  cursor: pointer;
  /* Cursor de mão ao passar por cima */
  border-radius: 12px;
  /* Bordas arredondadas */
  border-color: #ffffff;
  border: 1px solid #ccc;
  font-family: 'LEMONMILK", sans-serif';
  font-style: 'LEMONMILK", sans-serif';

}

.entrecom {
  font-family: 'LEMONMILK", sans-serif';
  position: absolute;
  width: 264px;
  height: 52px;
  left: 950px;
  top: 590px;
  color: #ffffff;
}

.text-color {
  color: white;
  font-size: 20px;
}

/*.laranja-cadastro{
 
position: absolute;
width: 1356px;
height: 2318px;
left: calc(50% - 1356px/2 - 1px);
top: 81px;

background: #FA5207;
mix-blend-mode: color-burn;
opacity: 0.9;
box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
border-radius: 100px;

 } */
.laranja-cadastro {
  background: #c04e1a;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 80px;
  height: 1390px;

  /*altura da div*/
  h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.position {
  position: absolute;
  width: 1356px;
  height: 2318px;
  left: calc(50% - 356px/2 - 1px);
  top: 350px;
}

.positiondoacao {
  position: absolute;
  width: 1356px;
  height: 318px;
  left: auto;
  top: 650px;
  right: 500px;
  bottom: 0;
}

.position1 {
  position: absolute;
  width: 1356px;
  height: 318px;
  left: auto;
  top: 600px;
  right: 10px;
  bottom: 0;
}

.position2 {
  position: absolute;
  width: 1356px;
  height: 318px;
  left: auto;
  top: 665px;
  right: 10px;
  bottom: 0;
}

.position3 {
  position: absolute;
  width: 1356px;
  height: 318px;
  left: auto;
  top: 735px;
  /* Ajustado para que comece logo abaixo do .position2 */
  right: 10px;
  bottom: 0;
}

.position4 {
  position: absolute;
  width: 1356px;
  height: 318px;
  left: auto;
  top: 800px;
  /* Ajustado para que comece logo abaixo do .position3 */
  right: 10px;
  bottom: 0;
}

.finalizar-cadastro {
  position: absolute;
  width: 600px;
  height: 100px;
  left: calc(40% - 100px + 0.5px);
  top: 850px;
}